<h1>Posts Index</h1>

@if (true)
{
    <text>
        <p>True is true!</p>
    </text>
}

<p><a href="@Url.RouteUrl("login")">Click here!</a></p>

@section Scripts
{
    <script>
        alert("Hi");
    </script>    
}
